 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 25px auto 0 2px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 409px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1450px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 21px auto 0 60px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 353px;
  margin: 59px auto 0 23px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-2 .u-image-1 {
  height: 316px;
  width: 287px;
  margin: 59px 23px 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 30px 23px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 20px auto 0 23px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 353px;
  margin: -624px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-2 .u-image-2 {
  height: 316px;
  width: 287px;
  margin: 59px 23px 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 30px 23px 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 20px auto 0 23px;
}

.u-section-2 .u-layout-wrap-3 {
  width: 353px;
  margin: -624px 23px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 654px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-2 .u-image-3 {
  height: 316px;
  width: 287px;
  margin: 59px 23px 0 30px;
}

.u-section-2 .u-text-4 {
  margin: 30px 23px 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 20px auto 0 23px;
}

.u-section-2 .u-list-1 {
  width: 1134px;
  margin: 353px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 341px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-video-1 {
  height: 321px;
  margin-top: -231px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-2 .u-video-2 {
  height: 321px;
  margin-top: -231px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-2 .u-video-3 {
  height: 321px;
  margin-top: -231px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 317px;
  }

  .u-section-2 .u-image-2 {
    height: 317px;
  }

  .u-section-2 .u-image-3 {
    height: 317px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 282px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 648px;
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 16px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 17px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 16px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 17px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 17px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: 16px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 17px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 17px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1512px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 78px auto 0 64px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1178px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-text-2 {
  margin: 24px 118px 0 94px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 37px 55px 0 31px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 17px auto 0 80px;
}

.u-section-3 .u-line-2 {
  width: 530px;
  transform-origin: right center 0px;
  margin: 18px 15px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 39px 55px 0 31px;
}

.u-section-3 .u-shape-1 {
  width: 508px;
  height: 192px;
  margin: -183px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1178px;
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 23px 220px 0 198px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 37px 43px 0;
}

.u-section-3 .u-line-3 {
  width: 530px;
  transform-origin: right center 0px;
  margin: 46px auto 0 18px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 33px 43px 0;
}

.u-section-3 .u-shape-2 {
  width: 527px;
  height: 192px;
  margin: -181px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 971px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 68px;
    margin-left: 44px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 470px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 971px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 170px;
    margin-left: 148px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-3 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    width: 360px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 115px;
    margin-left: 93px;
  }

  .u-section-3 .u-line-3 {
    width: 360px;
  }

  .u-section-3 .u-shape-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-line-3 {
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
  }
}